header{
    background-color: aqua;
}
.main{
    color: burlywood;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}
.logo{
    
}
.thum{
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 795px;
    max-height: 500px;
}
.catalog{
    
}